*.final
*.config
*.gizacfg
*.perp
*.vcb
*.out
*.o
*.txt
*.cooc
*.snt
*.align
*.pyc
*.dot
*.xml
*.output
lex.yy.c
y.tab.c
y.tab.h
*.aux
*.bbl
*.blg
*.log
*.gch
*~
interpreter/*
aligner/*
giza-pp/*
corpus/*
Makefile
readme